@font-face {
    font-family: roboto;
    src: url(font/roboto.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, rgb(63, 94, 251), rgb(252, 70, 107));
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background: linear-gradient(
            90deg,
            rgba(63, 94, 251, 0.15),
            rgba(228, 75, 126, 0.15)
        ),
        rgb(7, 7, 7);
    position: fixed;
    top: 0;
    z-index: 1;
}

button {
    border: none;
    background: none;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

nav button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url(icons/hamburger.png);
    display: none;
}

nav h2 {
    font-size: 26px;
    margin-left: 20px;
    width: 150px;
}

.links {
    display: flex;
    padding: 6px;
    gap: 6px;
    margin: auto;
}

.links a {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
    transition: background-color 0.1s;
}

.links a img {
    height: 20px;
    margin-right: 10px;
}

.links a:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.links a:active {
    background-color: rgba(128, 128, 128, 0.08);
}

.socials {
    display: flex;
    margin-right: 20px;
}

.socials a:not(:last-child) {
    height: 30px;
    margin-right: 20px;
}

.socials img {
    height: 30px;
}

section {
    display: flex;
    align-items: center;
    height: calc(100vh - 8vw - 64px);
    padding: clamp(20px, 4vw, 999px);
    padding-top: calc(clamp(20px, 4vw, 999px) + 64px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}

section > div:nth-child(1) {
    margin-right: auto;
}

section > div:nth-child(2) {
    margin-left: clamp(20px, 4vw, 999px);
}

h1 {
    font-size: clamp(90px, 9vw, 140px);
    background: linear-gradient(135deg, rgb(63, 94, 251), rgb(252, 70, 107));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 22px;
}

#about > div {
    display: flex;
    flex-direction: column;
}

#about > div:nth-child(1) {
    transform: translateX(-50%);
    opacity: 0;
}

#about > div:nth-child(2) {
    width: 40vw;
    transform: translateX(50%);
    opacity: 0;
}

#about h2 {
    font-size: 40px;
}

#about div > h2 {
    transform: translateX(-50%);
    opacity: 0;
}

#about h1 {
    margin: clamp(20px, 4vw, 30px) 0px;
}

#about div a {
    display: flex;
    text-decoration: none;
    align-items: center;
    transform: translateX(-50%);
    opacity: 0;
}

#about div a:hover {
    text-decoration: underline;
}

#about a img {
    height: 40px;
    margin-right: 10px;
}

#about p {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.15);
}

#skills > div:nth-child(1) {
    transform: translateX(-50%);
    opacity: 0;
}

#skills > div:nth-child(2) {
    display: grid;
    grid-template-areas:
        "skills-top skills-top skills-top"
        ". . ."
        ". . .";
    gap: 10px;
    width: 1200px;
}

.skills-top {
    grid-area: skills-top;
}

#skills > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.15);
    transform: translateX(400px);
    opacity: 0;
}

#skills > div:nth-child(2) > div > div {
    display: grid;
    grid-template-areas:
        ". ."
        "bar bar";
    gap: 8px;
    width: 250px;
}

.bar {
    grid-area: bar;
}

#skills > div:nth-child(2) > div > div > div {
    height: 10px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#skills > div:nth-child(2) > div > div > div > div {
    height: 100%;
    border-radius: 999px;
    background: linear-gradient(135deg, rgb(63, 94, 251), rgb(252, 70, 107));
}

#skills > div:nth-child(2) > div > div > div > div {
    width: 0;
}

#skills > div:nth-child(2) > div:nth-child(2) > div > div > div {
    --barfill: 100%;
}

#skills > div:nth-child(2) > div:nth-child(3) > div > div > div {
    --barfill: 95%;
}

#skills > div:nth-child(2) > div:nth-child(4) > div > div > div {
    --barfill: 75%;
}

#skills > div:nth-child(2) > div:nth-child(5) > div > div > div {
    --barfill: 70%;
}

#skills > div:nth-child(2) > div:nth-child(6) > div > div > div {
    --barfill: 75%;
}

#skills > div:nth-child(2) > div:nth-child(7) > div > div > div {
    --barfill: 60%;
}

#skills img {
    width: 80px;
}

#skills > div:nth-child(2) > div > div > p:nth-child(2) {
    margin-left: auto;
}

#projects > div:nth-child(1) {
    transform: translateX(-50%);
    opacity: 0;
}

#certifications > div:nth-child(1) {
    transform: translateX(-50%);
    opacity: 0;
}

#projects > div:nth-child(2),
#certifications > div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 12px;
    padding: 20px;
    transform: translateX(50%);
    opacity: 0;
}

section button {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    transition: 0.1s;
}

section button:first-child {
    background-image: url(icons/arrow_back.png);
    margin-right: auto;
}

section button:last-child {
    background-image: url(icons/arrow_forward.png);
    margin-left: auto;
}

section button:hover {
    transform: scale(1.05);
}

section button:active {
    transform: scale(0.99);
}

#projects div div,
#certifications div div {
    flex-direction: column;
    align-items: center;
    animation: fade 0.8s;
}

#projects h2,
#certifications h2 {
    font-size: 50px;
    text-align: center;
}

#projects img {
    height: 400px;
    border-radius: 6px;
    margin: 40px 0px;
}

#certifications img {
    height: 300px;
    border-radius: 999px;
    border-radius: 999px;
}

#certifications h2 {
    margin: 40px 0px;
}

@media (max-width: 1700px) {
    #skills > div:nth-child(2) {
        grid-template-areas:
            "skills-top skills-top"
            ". ."
            ". .";
        width: 800px;
    }
}

@media (max-width: 1400px) {
    nav h2 {
        display: none;
    }

    .links {
        margin: 0px;
    }

    .socials {
        margin-left: auto;
    }

    section {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        min-height: calc(100vh - 8vw - 64px);
        padding: calc(clamp(20px, 4vw, 999px) + 64px) clamp(20px, 4vw, 999px)
            clamp(20px, 4vw, 999px) clamp(20px, 4vw, 999px);
    }

    section > div:nth-child(1) {
        margin-bottom: 30px;
    }

    section > div:nth-child(2) {
        margin-left: 0px;
    }

    #about div:nth-child(2) {
        width: 100%;
    }

    #about h2 {
        font-size: 26px;
    }

    #about a img {
        height: 26px;
    }

    #skills > div:nth-child(2) {
        width: 100%;
    }

    #skills > div:nth-child(2) > div > div {
        width: 100%;
    }

    #projects > div:nth-child(2),
    #certifications > div:nth-child(2) {
        margin-left: 0px;
    }
}

@media (max-width: 900px) {
    nav button {
        display: flex;
    }

    .links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        margin: 70px 0px 0px 10px;
        border-radius: 12px;
        background: linear-gradient(
                135deg,
                rgba(63, 94, 251, 0.15),
                rgba(228, 75, 126, 0.15)
            ),
            rgb(7, 7, 7);
        transform: translateX(calc(-100% - 10px));
        transition: transform 0.25s;
    }

    .links a {
        padding: 12px 30px 12px 12px;
    }

    #skills > div:nth-child(2) {
        grid-template-areas:
            "skills-top"
            "."
            "."
            "."
            "."
            "."
            ".";
        width: 100%;
    }

    #projects img {
        width: 100%;
        height: auto;
    }

    #certifications h1 {
        font-size: clamp(50px, 9vw, 140px);
    }

    .show .links {
        transform: translateX(0);
    }

    .show button {
        background-image: url(icons/close.png);
    }

    #certifications img {
        width: 100%;
        height: auto;
    }
}

@keyframes move-right {
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.animate-about div:nth-child(1),
.animate-about div > h2,
.animate-about div a {
    animation: move-right 1s forwards;
}

.animate-skills > div:nth-child(1) {
    animation: move-right 1s forwards;
}

.animate-projects div:nth-child(1) {
    animation: move-right 1s forwards;
}

.animate-certifications div:nth-child(1) {
    animation: move-right 1s forwards;
}

@keyframes move-left {
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.animate-about div:nth-child(2) {
    animation: move-left 1s forwards;
}

.animate-skills > div:nth-child(2) > div:nth-child(1) {
    animation: move-left 1s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(2) {
    animation: move-left 1s 0.05s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(3) {
    animation: move-left 1s 0.06s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(4) {
    animation: move-left 1s 0.07s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(5) {
    animation: move-left 1s 0.08s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(6) {
    animation: move-left 1s 0.09s forwards;
}
.animate-skills > div:nth-child(2) > div:nth-child(7) {
    animation: move-left 1s 0.1s forwards;
}

.animate-projects div:nth-child(2) {
    animation: move-left 1s forwards;
}

.animate-certifications div:nth-child(2) {
    animation: move-left 1s forwards;
}

@keyframes bar-fill {
    100% {
        width: var(--barfill);
    }
}

.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(1) {
    animation: bar-fill 0.8s forwards 0.56s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(2) {
    animation: bar-fill 0.8s forwards 0.57s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(3) {
    animation: bar-fill 0.8s forwards 0.58s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(4) {
    animation: bar-fill 0.8s forwards 0.59s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(4) {
    animation: bar-fill 0.8s forwards 0.6s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(5) {
    animation: bar-fill 0.8s forwards 0.61s;
}
.animate-skills > div:nth-child(2) > div > div > div > div:nth-child(6) {
    animation: bar-fill 0.8s forwards 0.62s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
