.grid-container {
    width: 750px;
    height: 100vh;
    margin: auto;
}

/*resume*/
iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: var(--boxshadow);
    background: white;
    animation: move-up 0.5s;
}

@media only screen and (max-width: 800px) {
    /*resume*/
    .grid-container {
        width: 96vw;
    }
}
